/* .........Lato ...........*/
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/Lato/Lato-Light.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato/Lato-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/Lato/Lato-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
/* ..............End Lato........... */
@font-face {
  font-family: "Open SansRegular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: medium;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
