* {
  margin: 0;
}
.row {
  margin: 0;
}

/* Конец настроек */

/* ................Section1................*/

.section1:first-child {
  background-color: #200a32;
}
.logo {
  padding: 37px 0 250px 0;
}
main > .section1 > .container > .col-md-12:nth-child(1) {
  height: 848px;
}
.header_info > p:nth-child(1) {
  font-family: "LatoRegular";
  font-size: 30px;
  color: white;
  line-height: 26px;
  margin: 0;
}
.header_info > p:nth-child(2) {
  font-family: "MontserratBold";
  font-size: 55px;
  color: white;
  margin: 0;
}
.header_info > p:nth-child(3) {
  font-family: "LatoLight";
  font-size: 24px;
  color: white;
  padding-bottom: 40px;
}
.btn-danger {
  background: #ff6633;
  border-radius: 50px;
  font-family: "LatoBold";
  font-size: 16px;
  padding: 16px 45px;
}

/* ..............Section2............... */

.justify-content-center {
  top: -60px;
}
p.text-uppercase {
  margin: 0;
  font-family: "LatoRegular";
}
.position-relative > .rounded {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 910px;
  margin-bottom: 140px;
}

/* ..............Section3................. */

.lapTop1 > .col-md-7 {
  max-width: 612px;
  padding: 0;
  margin-top: 85px;
}
.lapTop1 > .col-md-7 > h1 {
  font-family: "LatoRegular";
  color: #3b434c;
}
.lapTop1 > .col-md-7 > p {
  font-family: "PoppinsRegular";
  color: #818181;
}
.lapTop1 > .col-md-5 {
  margin-right: 80px;
  padding: 0;
}
.img_LapTop1 {
  margin-bottom: 150px;
}

/* ..............Section4.................. */

.section4 {
  background-color: #f7f7f7;
  padding-bottom: 105px;
}
.container > .mx-auto > h1 {
  font-family: "LatoRegular";
  color: #3b434c;
  font-size: 35px;
  line-height: 26px;
}
.container > .mx-auto > p {
  font-family: "PoppinsRegular";
  line-height: 80px;
  font-size: 18px;
  color: #616161;
}
.container > .mx-auto {
  text-align: center;
  padding-top: 110px;
}
.column {
  background-color: white;
  min-width: 265px;
  text-align: center;
  padding-bottom: 70px;
}
.column2,
.column3,
.column4 {
  margin-left: 30px;
}
.heading_column {
  font-family: "PoppinsMedium";
  font-size: 20px;
  line-height: 80px;
}
.column_text {
  color: #8b8b8b;
  font-size: 15px;
  line-height: 25px;
  max-width: 198px;
  margin: 0 auto;
}
.icon {
  padding-top: 65px;
}

/* ............Section5.................. */

.section5 > .position-relative {
  top: 351px;
}
.focus {
  padding-left: 0;
  padding-right: 0;
  max-width: 295px;
  padding-top: 150px;
  padding-bottom: 160px;
}
.focus > h3 {
  font-family: "PoppinsMedium";
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 27px;
  margin-top: 20px;
}
.focus > p {
  font-family: "Open SansRegular";
  font-size: 16px;
  line-height: 27px;
  color: #767676;
}
.focus > .text-center {
  background-color: #fc5f45;
  width: 69px;
  height: 69px;
  margin-top: 27px;
  margin-bottom: 65px;
}
.focus > div.text-center > img {
  padding-top: 15px;
}
.OurFocus {
  font-family: "LatoRegular";
  color: #3b434c;
  font-size: 35px;
  line-height: 26px;
}
.focus1 {
  padding-top: 210px;
  margin-right: 60px;
}
.focus3 {
  padding-top: 210px;
  margin-left: 60px;
}
.focus2 > .text-center {
  margin-top: 65px;
  margin-bottom: 27px;
}
img.p-1 {
  background-color: #d5d8da;
}

/* .......Section6........... */

.lapTop2 {
  padding: 0;
}
.img_LapTop2 {
  margin-bottom: 240px;
}
.lapTop2 > .col-md-5 {
  margin-left: 80px;
  padding: 0;
}
.lapTop2 > .col-md-7 {
  max-width: 535px;
  padding: 0;
  margin-top: 25px;
}
.lapTop2 > .col-md-7 > h1 {
  font-family: "LatoRegular";
  color: #3b434c;
  font-size: 35px;
  line-height: 46px;
  width: 80%;
}
.lapTop2 > .col-md-7 > p {
  font-family: "PoppinsRegular";
  color: #818181;
  font-size: 15px;
  line-height: 27px;
}

/* .........Section7........... */

.section7 {
  background-color: #f7f7f7;
}
.column_second7 > .rounded-circle {
  margin-top: 65px;
  background-color: #f7f7f7;
}
.column_text_section7 {
  max-width: 265px;
  color: #8b8b8b;
  font-size: 15px;
  line-height: 25px;
  margin: 0 auto;
}
.column_second7 {
  min-width: 340px;
  background-color: white;
  margin-left: 30px;
  text-align: center;
  border: 3px solid #f2f2f2;
}
.column_second7:nth-child(1) {
  margin-left: 0;
}
.block_icon_section7 > .border {
  margin-left: 15px;
  margin-top: 45px;
  border: 3px solid #c0c0c0;
  border-radius: 50%;
  margin-bottom: 30px;
}
.row2 {
  margin-bottom: 150px;
}
/* ..........Section8....... */

.section8 {
  background: url(../img/LapTop_Mouse.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.section8 > .container {
  padding: 140px 0;
}
.col-md-2 > .numbers {
  font-family: "LatoBold";
  font-size: 24px;
  line-height: 60px;
}
.col-md-2 > p.text-white {
  font-family: "LatoRegular";
  font-size: 16px;
}

/* ..........Section9.......... */

.form_heading > h1 {
  font-family: "LatoRegular";
  font-size: 35px;
  line-height: 80px;
  margin-top: 105px;
  margin-bottom: 60px;
}
.section9 {
  background: url(../img/sofa.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.form > .row {
  padding-bottom: 160px;
  padding-bottom: 0;
}
.form {
  margin-bottom: 150px;
}

/* ...........Section10......... */

.section10 {
  background-color: #1b2126;
}
.section10 > .container {
  padding-top: 50px;
  padding-bottom: 60px;
}
.text-center > p.row {
  font-family: "LatoRegular";
  font-size: 14px;
  line-height: 28px;
  color: #7b7d7f;
}
